Source: tklbam
Section: misc
Priority: optional
Maintainer: Liraz Siri <liraz@turnkeylinux.org>
Build-Depends:
 debhelper (>= 10),
 dh-exec,
 libcurl4-openssl-dev,
 wget,
 tar,
 librsync-dev (>= 0.9.6),
 libssl-dev,
Standards-Version: 4.0.0

Package: tklbam
Architecture: any
Depends:
 ca-certificates,
 ${misc:Depends},
 gnupg,
 ntpdate,
 gpg (>= 2.2.12),
 tklbam-squid
Description: TurnKey GNU/Linux Backup and Migration agent
