#! /usr/bin/make -f

progname=$(shell awk '/^Source/ {print $$2}' debian/control)
buildroot=debian/$(progname)

deproot=$(progname)/deproot
tmp=debian/tmp

%:
	dh $@

all:

override_dh_auto_build:
	mkdir -p $(tmp) $(deproot)
	DEPROOT=$(deproot) ./duct-tape-deps.sh
	rm -rf $(tmp)

override_dh_auto_install:
	dh_auto_install -- prefix=debian/$(DEB_SOURCE)/usr
