#! /usr/bin/make -f

progname=$(shell awk '/^Source/ {print $$2}' debian/control)
buildroot=debian/$(progname)

deproot=$(progname)/deproot
tmp=debian/tmp

%:
	dh $@

override_dh_auto_build:
	./duct-tape-deps.sh

override_dh_shlibdeps:
override_dh_makeshlibs:
